<nav class="navbar navbar-light" style="background-color: #a3d2ca;">
    <div class="container-fluid">
        <%= link_to "QUart", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav">
            <li class="navbar-item mr-5-lg">
                <%= link_to "Shop", listings_path, class: "nav-link" %>
                <%= link_to "About", about_path, class: "nav-link" %>
            </li>

            <% if user_signed_in? %>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Create Listing", new_listing_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
            <% else %>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
                <li class="navbar-item mr-5-lg">
                    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>